.button {
    display: inline-block;
    border-radius: 10px;
    padding: 12px 32px;
    margin: 5px;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    background-color: red;
    text-decoration: none;
    border-width: 0;
    cursor: pointer;
    text-align: center;
}