.card-container {
    width: 200px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-image {
    width: 100% !important;
    height: 10rem !important;
    margin: 0px !important;
}

.description {
    text-align: center;
    font-size: 12px;
}