.search-bar {
    margin: 10px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    border: 1px;
    border-style: solid;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline-element-right {
    margin: 0 !important;
    background-color: #54ab4e !important;
    border-radius: 0 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 12px !important;
}
.search-input {
    border: none;
    flex: 1;
    padding-right: 10px;
    outline: none;
}